.fullWidthSelect {
   width: 100%;
   height: 35px;
   font-size: 12px;
   background-color: #ffffff;
   border-radius: 8px;
}

.halfDrawerWidthSelect {
   width: 300px;
   height: 35px;
   font-size: 12px;
   background-color: #ffffff;
   border-radius: 8px;
}

.fullDrawerWidthSelect {
   width: 560px;
   height: 35px;
   font-size: 12px;
   background-color: #ffffff;
   border-radius: 8px;
}
